$white: #ffffff;
$grey: #c4c4c4;
$light-violet: #a1a6be;
$violet: #4d5474;
$deep-violet:#3e4459;
$dark-violet: #383e57;
$deeper-violet: #23273a;
$darker-violet: #1f2339;
$dark-blue: #151e41;
$lighter-black: rgba(0, 0, 0, 0.15);
$light-black: rgba(0, 0, 0, 0.5);
$blue: #43e8ff;
$blue-gradient: radial-gradient(133.33% 2508.35% at -4.59% -10%, #32e6ff 0%, rgba(0, 255, 209, 0.81) 100%), #43e8ff;
$pink: #ff8991;
