html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $light-violet;
  background-color: $violet;
}

a {
  text-decoration: none;
}


#time {

  margin-left: 20px;

}