.weather {
  display: flex;

  &--characteristics {
    margin-top: 11px;
  }
}

.weather__item--date + .weather__item--date {
  margin-left: 39px;
}

.weather__item--characteristics + .weather__item--characteristics {
  margin-left: 68px;
}

.weather__text {
  margin: 0;
  font-size: 14px;
  line-height: 19px;

  &--date {
    padding-top: 53px;
  }
}

.weather__description {
  margin: 0;
  font-size: 14px;
  line-height: 19px;
  color: $light-violet;
}

.weather__description + .weather__description {
  margin-top: 6px;
}


.weather__temperature {
  font-size: 70px;
  line-height: 109px;
  font-weight: 250px;
  letter-spacing: -0.05em;
}

.weather__degree {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  line-height: 49px;
  font-weight: 300;
}
